{% load staticfiles %}
<!DOCTYPE html>
<html >

<head>
	<title>Medical App</title>
	<meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">


  	<!-- bootstrap scripts -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/1.0.3/angular-ui-router.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.0/angular-cookies.js"></script>

    <meta charset="utf-8">
	
  	<!-- own css js files -->
  	<link rel="stylesheet" type="text/css" href="{% static '/medical/css/medical.css' %}">
  	<script src="{% static '/medical/js/app.js' %}"></script>
  	<script src="{% static '/medical/js/loginController.js' %}"></script>
    <script src="{% static '/medical/js/mainController.js' %}"></script>
    <script src="{% static '/medical/js/homeController.js' %}"></script>
    <script src="{% static '/medical/js/viewController.js' %}"></script>
    <script src="{% static '/medical/js/createController.js' %}"></script>
    <script src="{% static '/medical/js/authenticationService.js' %}"></script>
    <script src="{% static '/medical/js/dataService.js' %}"></script>
  	
  	<!-- css js files -->

</head>

<body ng-app="medical" >

<div ui-view></div>

</body>
</html>


  
  